<!DOCTYPE html>
<html ng-app="atm">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<head>
<title>Home Page</title>
<base href="/"/>
<link rel="stylesheet"	href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
	<div class="container" ui-view="">
	</div>

	<script src="js/jquery-1.12.4.min.js" th:href="@{/js/jquery-1.12.4.min.js}"></script>
	<script	src="js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
	<script src="js/angularJs/angular.min.js" th:href="@{/js/angularJs/angular.min.js}"></script>
	<script src="js/angularJs/module/angular-ui-router.js" th:href="@{/js/angularJs/module/angular-ui-router.js}"></script>
	<script src="js/app.js" th:href="@{/js/app.js}"></script>
</body>
</html>